<p id="notice"><%= notice %></p>

<h1>Listing Scriptures</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scriptures.each do |scripture| %>
      <tr>
        <td><%= scripture.title %></td>
        <td><%= scripture.body %></td>
        <td><%= scripture.author %></td>
        <td><%= link_to 'Show', scripture %></td>
        <td><%= link_to 'Edit', edit_scripture_path(scripture) %></td>
        <td><%= link_to 'Destroy', scripture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scripture', new_scripture_path %>
