<% @page_title = "Resources" %>
<div class="header">
  <%= render(:partial => 'layouts/navbar')%>
</div>
<div class="main">
  <p id="notice"><%= notice %></p>

  <h1 style="text-align:center;">Community Resources</h1>
<!-- 
  <table>


    <tbody>
      <% @resources.each do |resource| %>
      <tr>
        <td><%= resource.title %></td>
        <td><%= resource.description %></td>
        <td><%= resource.published %></td>
        <td><%= link_to 'Show', resource %></td>
        <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
        <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
-->
<br>
<table class="table  ">
  <tbody>
    <tr class="active">
      <td>

       <div class="row featurette">
        <div class="col-md-7">
          <h3 class="featurette-heading">Music</h3>
          <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
          </blockquote>
        </div>
        <div class="col-md-5">
         <%=image_tag("music2.jpg", size:"200x200", class: "img-thumbnail" ,alt: "300x300")%>
       </div>
     </div>    
   </td>
   <td>
     <div class="row featurette">
      <div class="col-md-5">
        <%=image_tag('affinity.jpeg', size:"200x200" ,class: "img-thumbnail" ,alt: "300x300")%>
      </div>
      <div class="col-md-7">
        <h3 class="featurette-heading">Scriptures.</h3>
        <blockquote class="pull-right">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
        </blockquote>
      </div>
    </div>


  </td>
</tr>

<tr class="active">
  <td>

   <div class="row featurette">
    <div class="col-md-7">
      <h3 class="featurette-heading">Videos</h3>
      <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
      </blockquote>
    </div>
    <div class="col-md-5">
     <%=image_tag("vidcam.jpg", size: "200x200", class: "img-thumbnail",alt: "300x300")%>
   </div>
 </div>    
</td>
<td>
 <div class="row featurette">
  <div class="col-md-5">
    <%=image_tag('youth.jpg', size:"200x200",class: "img-thumbnail"  ,alt: "300x300")%>
  </div>
  <div class="col-md-7">
    <h3 class="featurette-heading">Podcasts</h3>
    <blockquote class="pull-right">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
    </blockquote>
  </div>
</div>


</td>
</tr>
<tr class="active">
  <td>

   <div class="row featurette">
    <div class="col-md-7">
    <h3 class="featurette-heading">Testmony</h3>
      <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
      </blockquote>
    </div>
    <div class="col-md-5">
     <%=image_tag("vidcam.jpg", size: "200x200", class: "img-thumbnail",alt: "300x300")%>
   </div>
 </div>    
</td>
<td>
 <div class="row featurette">
  <div class="col-md-5">
    <%=image_tag('go.jpg', size:"200x200",class: "img-thumbnail"  ,alt: "300x300")%>
  </div>
  <div class="col-md-7">
    <h3 class="featurette-heading">Inspirational Quotes</h3>
    <blockquote class="pull-right">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
    </blockquote>
  </div>
</div>


</td>
</tr>

</tbody>
</table>

<%= link_to 'New Resource', new_resource_path %>
</div>
<div class="footer">
  <%= render(:partial => 'layouts/footer')%>
</div>