<% @page_title = "Details" %>
<div class="header">
<%= render(:partial => 'layouts/navbar')%>
</div>
<div class="main">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @resource.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @resource.description %>
</p>

<p>
  <strong>Published:</strong>
  <%= @resource.published %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
</div>
<div class="footer">
<%= render(:partial => 'layouts/footer')%>
</div>