<% @page_title  = 'Communities'%>
<div class="header">
  <%= render(:partial => 'layouts/navbar')%>
</div>
<div class="main">
<p id="notice"><%= notice %></p>

<h1>Listing Admin Users</h1>

<div>
    <% @admin_users.each do |admin_user|%>
    <div class="col-md-8" >
      <div class="panel panel-warning table-striped table-hover ">
        <div class="panel-heading"><%=link_to( admin_user.first_name + admin_user.last_name , "#", :class =>"btn btn-default")%></div>
        <div class="panel-body">


          <div class="row featurette">
            <div class="col-md-7">        
              <p><%= admin_user.email %></p>
              <br />          
            </div>
            <div class="col-md-5">
             
             <%= image_tag(admin_user.avatar.url(:medium), class: "img-thumbnail" ,alt: "300x300" )%>
           </div>
         </div>      
       </div>
     </div>
    </div>
   <%end%>
   <div class="col-md-4">
    <div class="list-group" >
      <a href="#" class="list-group-item active">
        Latest Members
      </a>
      <a href="#" class="list-group-item"> Vising the Ederly
      </a>
      <a href="#" class="list-group-item">Morbi leo risus
      </a>
    </div>
  </div>


</div>



<%= link_to 'New Admin user', new_admin_user_path %>
<div id="footer" style="position:bottom;">
  <%= render(:partial => 'layouts/footer')%>
</div>
