<div class="panel panel-warning">
  <div class="panel-heading">
  <h3 class="panel-title">Community Details</h3>
  </div>
  <div class="panel-body">

    <%= bootstrap_form_for @community, :html => {  :multipart => 'true' } do |f| %>
    <% if @community.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@community.errors.count, "error") %> prohibited this community from being saved:</h2>

      <ul>
        <% @community.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="field">

      <%= f.text_field :name , placeholder: "Community Name"%>
    </div>
    <div class="field">

      <%= f.text_area :description, placeholder: "Full details about the community"%>
    </div>
    <div class="field">

      <%= f.text_field :fellowship, placeholder: "fellowship Days "%>
    </div>
    <div class="field">

      <%= f.text_field :leader %>
    </div>
    <div class="field">

     <%= f.file_field :avatar %>
   </div>

   <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>

</div>
</div>














