<% @page_title = @community.name  %>
<div class="header">
	<%= render(:partial => 'layouts/navbar')%>
</div>
<div class="main">

	<div class="jumbotron">
		<p id="notice"><%= notice %></p>
		<h1>  <%= @community.name + " Missional Community"%></h1>
		<p><%= @community.description %></p><br />
		<%= @community.fellowship %>
		<%= @community.leader %>
		<p><a class="btn btn-primary btn-lg">Learn more</a></p>
		<div class="col-md-5">
             
             <%= image_tag(@community.avatar.url(:medium), class: "img-thumbnail" ,alt: "300x300" )%>
           </div>
		</div



		<%= link_to 'Edit', edit_community_path(@community), :class=>"btn btn-default"%> |
		<%= link_to 'Back', communities_path,:class=>"btn btn-default" %>
	</div>
	<div class="footer">
		<%= render(:partial => 'layouts/footer')%>
	</div>
</div>