<% @page_title = @community.name  %>
<div class="header">
	<%= render(:partial => 'layouts/navbar')%>
</div>
<div class="main">

	




	<div class="container" >
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="jumbotron show" >

				<%= image_tag(@community.avatar.url(:medium), size: "400X300", class: "screenshot" ,alt: "avatar")%>
					<div class="details">
						<p id="notice"><%= notice %></p>
						<div class="title">
							<h1>  <%= @community.name + " Missional Community"%></h1></div>
							<%= @community.description %><br />
							<%= @community.fellowship %><br />
							<%= @community.leader %>
							<p>
							 <% if user_signed_in? %>
								 <%= link_to("Join G12",  new_community_user_path(:community_id), :class =>"btn btn-success")%> 
								 <%= link_to("Mak a Post",  new_community_post_path(@community,current_user),:class => "btn btn-primary",)%>
						     <%else%>
						       <%= link_to("Join Us",new_community_user_path(@community.id), :class =>"btn btn-default")%>
					          <%end%>


							</p>
						</div>
					</div>
				</div>
				<div class="row clearfix">
					<div class="col-md-8 column">
					<% @post.each do |post|%>
						<div class="media well">
							<a href="#" class="pull-left"><img src="http://lorempixel.com/64/64/" class="media-object" alt='' />

							</a>
							<%= post.author%>
							<div class="media-body">
							
								<h4 class="media-heading">
									<%= post.title%>
								</h4> 
								<p>
								 <%= post.body %>

								</p>
							      <%= link_to("Add Comment", new_community_post_comment_path(@community,current_user))%>
							</div>

						</div>
					<%end%>
					</div>
					<div class="col-md-4 column">
						<div class="list-group">
							<a href="#" class="list-group-item active">Home</a>
							<div class="list-group-item">
								List header
							</div>
							<div class="list-group-item">
								<h4 class="list-group-item-heading">
									List group item heading
								</h4>
								<p class="list-group-item-text">
									...
								</p>
							</div>
							<div class="list-group-item">
								<span class="badge">14</span>Help
							</div> <a class="list-group-item active"><span class="badge">14</span>Help</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%= link_to 'Edit', edit_community_path(@community), :class=>"btn btn-default"%> |
	<%= link_to 'Back', communities_path,:class=>"btn btn-default" %>

	<div class="footer">
		<%= render(:partial => 'layouts/footer')%>
	</div>
</div>