  
<!-- <div id="sliderFrame"  >
    <div id="slider">
       <%=image_tag('Defining-Missional-Communities_Milestone_Picture.jpg' ,size:"800x450")%>
       <%=image_tag('home-banner-01.jpg' ,size:"800x450")%>
        <%=image_tag('plant.jpg' ,size:"800x450")%>
        <%=image_tag('youth.jpg' ,size:"800x450")%>


           
            
        </div>
        <div style="clear:both;height:0;"></div>
    </div> -->
    
<!-- class="hidden-xs"  -->


<%=image_tag('Defining-Missional-Communities_Milestone_Picture.jpg' ,size:"1200x550")%>